
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'roboto', sans-serif;
}

.wrapper {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
}

/* Header */
header {
    background-color: #1f2937;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    display: flex;
    gap: 18px;
    list-style: none;
}


.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
    flex-shrink: 0;
}

/* Showcase */
.showcase .wrapper{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 50px;
    gap: 16px;
    
}
.showcase {
    background-color: #1f2937;
    padding-top: 30px;

}

#showcase-image {
    max-width: 400px;
    padding: 20px 0px;
    display: flex;
    flex-wrap: wrap;
}

.hello {
    max-width: 400px;
    color: #f9faf8;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

button {
    padding: 8px 30px;
    border-radius: 8px;
    border-style: none;
    background-color: #3992f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 900;
}