
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

/* Generic */
body {
    margin: 0px;
    padding: 0px;
    font-family: 'roboto', sans-serif;
}

button {
    padding: 6px 30px;
    border-radius: 8px;
    border-style: none;
    background-color: #3992f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 900;
}

.button-outline {
    background-color: #3882f6;
    border: #f9faf8 2px solid;
}

.wrapper {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
}

/* Header */
header {
    background-color: #1f2937;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    display: flex;
    gap: 18px;
    list-style: none;
}


.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
    flex-shrink: 0;
}

/* Showcase */
.showcase .wrapper{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 50px;
    gap: 16px;
    
}
.showcase {
    background-color: #1f2937;
    padding-top: 30px;
}

#showcase-image {
    max-width: 400px;
    padding: 20px 0px;
    display: flex;
    flex-wrap: wrap;
}

.hello {
    max-width: 400px;
    color: #f9faf8;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

/* Information */

.info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

.info .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 42px 0px;
    padding-bottom: 100px;
}

.info i {
    font-size: 80px;
    color: #3882f6;
}

.card {
    text-align: center;
    max-width: 220px;
}

/* Quote section */
.quote {
    background-color: #E5E7EB;
    padding: 100px
}

.quote blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    text-align: center;
}

.signature {
    text-align: right;
    font-weight: bold;
}

/* Call-to-action */

.call-to-action {
    padding: 100px 32px;
}

.call-to-action h2 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.call-to-action p {
    margin: 0px;
}

.call-to-action .wrapper {
    background-color: #3882f6;
    padding: 42px 108px;
    border-radius: 8px;
    color: #f9faf8;
}

.call-to-action .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* footer */
footer {
    background-color: #1f2937;
    padding: 40px 16px;
    text-align: center;
    color: #f9faf8;
}

